*{
    margin: 0;
    padding: 0;
}
.container{
    background-color:cornflowerblue;
    border: 2px solid black;
    padding: 2px;
    display: grid;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-template-areas:'hd hd hd hd hd hd'
                        'lss is is is is rss'
                        'ft ft ft ft ft ft'
}
.container div{
    padding: 10px;
    font-size: 25px;
}
.header{
    grid-area:hd;
    border: 2px solid black;
}
.leftsideslider{
    grid-area:lss;
    border: 2px solid black;
    color: blue;
    font-weight: 1000;
}
.imageslider{
    grid-area:is;
    border: 2px solid black;
}
.rightsideslider{
    grid-area:rss;
    border: 2px solid black;
    color: blue;
    font-weight: 1000;
}
.footer{
    grid-area:ft;
    border: 2px solid black;
}
.img{
    width: 250px;
    height: 250px;
}
h1{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 1000;
}
@media only screen and (max-width:600px){
    .container{
        grid-template-areas: 'hd' 'lss' 'is' 'rss' 'ft';
    }
}
@media only screen and (min-width:600px){
    .container{
        grid-template-areas: 'hd hd' 'lss rss' 'is is' 'ft ft';
    }
}
@media only screen and (min-width:1200px){
    .container{
        grid-template-areas:'hd hd hd hd hd hd'
        'lss is is is is rss'
        'ft ft ft ft ft ft'
    }
}